* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1f1f2e;
    color: white;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #151522;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header a:hover {
    color: #ffb703;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #ffb703;
}

.hero-text p {
    margin: 20px 0;
    max-width: 400px;
}

.btn {
    background-color: #ffb703;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-img img {
    width: 280px;
    border-radius: 10px;
}

/* About */
.about {
    padding: 60px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: auto;
}

/* Skills */
.skills {
    padding: 60px;
    text-align: center;
}

.skill-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #2a2a40;
    padding: 30px;
    width: 150px;
    border-radius: 10px;
}

/* Contact */
.contact {
    padding: 60px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #151522;
    text-align: center;
    padding: 15px;
}
